@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    html {
        font-family: 'Montserrat', sans-serif;
        background-color: #1e293b;
        overflow: hidden;
    }
  }